* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

body {
  background: linear-gradient(45deg, #c30343, #ffffff);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(187, 130, 130);
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.theme-toggler {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

}

.active {
  background-color: #000;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.display {
  color: #c3e7f0;
  margin: 0 10px;
  height: 120px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 800;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

button {
  border: 0;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* maquetación de los botones */
.buttons {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-gap: 11px;
  row-gap: 11px;

}

button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.btn-number {
  background-color: #8EFDA6;
  color: #000000;
}

.btn-operator {
  background-color: #F0DB4F;
  color: #aa00a4;
}

.clear {
  background-color: #4C35AA;
  color: white;
}

.btn-equal {
  border-radius: 30px;
  background-color: #F23B00;
  color: #ffffff;
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.display__light {
  color: #000;
}

.dark {
  background-color: #000;
}

.btn-number__light {
  background-color: #85bddc;
}

.btn-operator__light {
  background-color: #e29edc;
}

.clear__light {
  background-color: #ffd5d8;
  color: #fc4552;
}
.btn-equal__light{
  background-color: #49bda2;
  color: #000;
}